@mixin clearfix() {
  zoom: 1;
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    display: block;
    clear: both;
    content: '';
    height: 0;
    visibility: hidden;
  }
}
